body{
background-image:url('../mepic.jpg');
background-repeat:repeat;
color:blue;
}
pre{
background-color:blue;	
	
}
h1{
background-color:yellow;	
width:200px;
border:100px;
}
h2{
background-color:green;	
width:80px;
border:20px;
	
}
div{
text-align:center;
display:block;
}
.last{
display:block;
margin:5px;
color:white-space;
text-align:left;
text-transformation:bold;
}